### Flights

In [2]:
import pandas as pd
from IPython.display import HTML

In [22]:
df = pd.read_csv(r"C:\Users\nopog\OneDrive\Documents\DEPI\Datasets\Flight Delays\flights.csv", dtype = {7: str, 8: str})

In [24]:
df.duplicated().sum()

0

In [8]:
df.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.tail(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819069,2015,12,31,4,B6,1248,N948JB,LAS,JFK,2359,...,1020.0,159.0,0,0,NaN,0.0,0.0,159.0,0.0,0.0
5819070,2015,12,31,4,B6,80,N584JB,RNO,JFK,2359,...,744.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819071,2015,12,31,4,B6,802,N589JB,SLC,MCO,2359,...,625.0,17.0,0,0,NaN,1.0,0.0,16.0,0.0,0.0
5819072,2015,12,31,4,B6,98,N607JB,DEN,JFK,2359,...,519.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819073,2015,12,31,4,B6,66,N655JB,ABQ,JFK,2359,...,549.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['DATE'] = pd.to_datetime(df[['YEAR', 'MONTH', 'DAY']])

In [14]:
df.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01

In [16]:
df = df.drop(['WEATHER_DELAY', 'LATE_AIRCRAFT_DELAY', 'AIRLINE_DELAY', 'SECURITY_DELAY', 'AIR_SYSTEM_DELAY', 'CANCELLATION_REASON', 'DAY_OF_WEEK', 'DAY', 'MONTH', 'YEAR'], axis=1)

In [17]:
df.head(10)

,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,DATE
0,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,...,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,2015-01-01
1,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,...,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,2015-01-01
2,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,...,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,2015-01-01
3,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,...,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,2015-01-01
4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,...,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,2015-01-01
5,DL,806,N3730B,SFO,MSP,25,20.0,-5.0,18.0,38.0,...,206.0,1589,604.0,6.0,602,610.0,8.0,0,0,2015-01-01
6,NK,612,N635NK,LAS,MSP,25,19.0,-6.0,11.0,30.0,...,154.0,1299,504.0,5.0,526,509.0,-17.0,0,0,2015-01-01
7,US,2013,N584UW,LAX,CLT,30,44.0,14.0,13.0,57.0,...,228.0,2125,745.0,8.0,803,753.0,-10.0,0,0,2015-01-01
8,AA,1112,N3LAAA,SFO,DFW,30,19.0,-11.0,17.0,36.0,...,173.0,1464,529.0,3.0,545,532.0,-13.0,0,0,2015-01-01
9,DL,1173,N826DN,LAS,ATL,30,33.0,3.0,12.0,45.0,...,186.0,1747,651.0,5.0,711,656.0,-15.0,0,0,2015-01-01

In [20]:
df = df.loc[df['CANCELLED'] != 1]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5729195 entries, 0 to 5819078
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   AIRLINE              object
 1   FLIGHT_NUMBER        int64
 2   TAIL_NUMBER          object
 3   ORIGIN_AIRPORT       object
 4   DESTINATION_AIRPORT  object
 5   SCHEDULED_DEPARTURE  int64
 6   DEPARTURE_TIME       float64
 7   DEPARTURE_DELAY      float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  SCHEDULED_TIME       float64
 11  ELAPSED_TIME         float64
 12  AIR_TIME             float64
 13  DISTANCE             int64
 14  WHEELS_ON            float64
 15  TAXI_IN              float64
 16  SCHEDULED_ARRIVAL    int64
 17  ARRIVAL_TIME         float64
 18  ARRIVAL_DELAY        float64
 19  DIVERTED             int64
 20  CANCELLED            int64
 21  DATE                 datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(6), object(4)
memory usage: 1005.3+ MB

In [24]:
df.isnull().sum()

AIRLINE                    0
FLIGHT_NUMBER              0
TAIL_NUMBER                0
ORIGIN_AIRPORT             0
DESTINATION_AIRPORT        0
SCHEDULED_DEPARTURE        0
DEPARTURE_TIME             0
DEPARTURE_DELAY            0
TAXI_OUT                   0
WHEELS_OFF                 0
SCHEDULED_TIME             1
ELAPSED_TIME           15187
AIR_TIME               15187
DISTANCE                   0
WHEELS_ON               2629
TAXI_IN                 2629
SCHEDULED_ARRIVAL          0
ARRIVAL_TIME            2629
ARRIVAL_DELAY          15187
DIVERTED                   0
CANCELLED                  0
DATE                       0
dtype: int64

In [26]:
df.dropna(inplace = True)

In [27]:
df.isnull().sum()

AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
DATE                   0
dtype: int64

In [30]:
df['SCHEDULED_DEPARTURE'] = df['SCHEDULED_DEPARTURE'].apply(lambda x: f"{int(x):04d}")
df['DEPARTURE_TIME'] = df['DEPARTURE_TIME'].apply(lambda x: f"{int(x):04d}")
df['WHEELS_OFF'] = df['WHEELS_OFF'].apply(lambda x: f"{int(x):04d}")
df['WHEELS_ON'] = df['WHEELS_ON'].apply(lambda x: f"{int(x):04d}")
df['SCHEDULED_ARRIVAL'] = df['SCHEDULED_ARRIVAL'].apply(lambda x: f"{int(x):04d}")
df['ARRIVAL_TIME'] = df['ARRIVAL_TIME'].apply(lambda x: f"{int(x):04d}")

In [31]:
df['SCHEDULED_DEPARTURE'] = pd.to_timedelta(df['SCHEDULED_DEPARTURE'].str[:2] + ':' + df['SCHEDULED_DEPARTURE'].str[2:] + ':00')
df['DEPARTURE_TIME'] = pd.to_timedelta(df['DEPARTURE_TIME'].str[:2] + ':' + df['DEPARTURE_TIME'].str[2:] + ':00')
df['WHEELS_OFF'] = pd.to_timedelta(df['WHEELS_OFF'].str[:2] + ':' + df['WHEELS_OFF'].str[2:] + ':00')
df['WHEELS_ON'] = pd.to_timedelta(df['WHEELS_ON'].str[:2] + ':' + df['WHEELS_ON'].str[2:] + ':00')
df['SCHEDULED_ARRIVAL'] = pd.to_timedelta(df['SCHEDULED_ARRIVAL'].str[:2] + ':' + df['SCHEDULED_ARRIVAL'].str[2:] + ':00')
df['ARRIVAL_TIME'] = pd.to_timedelta(df['ARRIVAL_TIME'].str[:2] + ':' + df['ARRIVAL_TIME'].str[2:] + ':00')

In [32]:
print(df[['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']])

        SCHEDULED_DEPARTURE  DEPARTURE_TIME      WHEELS_OFF       WHEELS_ON  \
0           0 days 00:05:00 0 days 23:54:00 0 days 00:15:00 0 days 04:04:00
1           0 days 00:10:00 0 days 00:02:00 0 days 00:14:00 0 days 07:37:00
2           0 days 00:20:00 0 days 00:18:00 0 days 00:34:00 0 days 08:00:00
3           0 days 00:20:00 0 days 00:15:00 0 days 00:30:00 0 days 07:48:00
4           0 days 00:25:00 0 days 00:24:00 0 days 00:35:00 0 days 02:54:00
...                     ...             ...             ...             ...
5819074     0 days 23:59:00 0 days 23:55:00 0 days 00:17:00 0 days 07:49:00
5819075     0 days 23:59:00 0 days 23:55:00 0 days 00:12:00 0 days 04:27:00
5819076     0 days 23:59:00 0 days 23:50:00 0 days 00:07:00 0 days 04:24:00
5819077     0 days 23:59:00 0 days 23:53:00 0 days 00:03:00 0 days 03:27:00
5819078     0 days 23:59:00 0 days 00:14:00 0 days 00:28:00 0 days 04:37:00

        SCHEDULED_ARRIVAL    ARRIVAL_TIME
0         0 days 04:30:00 0 days 04:08:00
1         0 days 07:50:00 0 days 07:41:00
2         0 days 08:06:00 0 days 08:11:00
3         0 days 08:05:00 0 days 07:56:00
4         0 days 03:20:00 0 days 02:59:00
...                   ...             ...
5819074   0 days 08:19:00 0 days 07:53:00
5819075   0 days 04:46:00 0 days 04:30:00
5819076   0 days 04:40:00 0 days 04:32:00
5819077   0 days 03:40:00 0 days 03:30:00
5819078   0 days 04:40:00 0 days 04:42:00

[5714008 rows x 6 columns]

In [36]:
df['SCHEDULED_DEPARTURE'] = df['SCHEDULED_DEPARTURE'].astype(str).str[7:]
df['DEPARTURE_TIME'] = df['DEPARTURE_TIME'].astype(str).str[7:]
df['WHEELS_OFF'] = df['WHEELS_OFF'].astype(str).str[7:]
df['WHEELS_ON'] = df['WHEELS_ON'].astype(str).str[7:]
df['SCHEDULED_ARRIVAL'] = df['SCHEDULED_ARRIVAL'].astype(str).str[7:]
df['ARRIVAL_TIME'] = df['ARRIVAL_TIME'].astype(str).str[7:]

In [37]:
print(df[['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']])

        SCHEDULED_DEPARTURE DEPARTURE_TIME WHEELS_OFF WHEELS_ON  \
0                  00:05:00       23:54:00   00:15:00  04:04:00
1                  00:10:00       00:02:00   00:14:00  07:37:00
2                  00:20:00       00:18:00   00:34:00  08:00:00
3                  00:20:00       00:15:00   00:30:00  07:48:00
4                  00:25:00       00:24:00   00:35:00  02:54:00
...                     ...            ...        ...       ...
5819074            23:59:00       23:55:00   00:17:00  07:49:00
5819075            23:59:00       23:55:00   00:12:00  04:27:00
5819076            23:59:00       23:50:00   00:07:00  04:24:00
5819077            23:59:00       23:53:00   00:03:00  03:27:00
5819078            23:59:00       00:14:00   00:28:00  04:37:00

        SCHEDULED_ARRIVAL ARRIVAL_TIME
0                04:30:00     04:08:00
1                07:50:00     07:41:00
2                08:06:00     08:11:00
3                08:05:00     07:56:00
4                03:20:00     02:59:00
...                   ...          ...
5819074          08:19:00     07:53:00
5819075          04:46:00     04:30:00
5819076          04:40:00     04:32:00
5819077          03:40:00     03:30:00
5819078          04:40:00     04:42:00

[5714008 rows x 6 columns]

In [40]:
df['SCHEDULED_TIME'] = df['SCHEDULED_TIME'] / 60
df['ELAPSED_TIME'] = df['ELAPSED_TIME'] / 60
df['AIR_TIME'] = df['AIR_TIME'] / 60

In [42]:
df = df.drop(['DIVERTED', 'CANCELLED'], axis=1)

In [44]:
df.head(10)

,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DATE
0,AS,98,N407AS,ANC,SEA,00:05:00,23:54:00,-11.0,21.0,00:15:00,3.416667,3.233333,2.816667,1448,04:04:00,4.0,04:30:00,04:08:00,-22.0,2015-01-01
1,AA,2336,N3KUAA,LAX,PBI,00:10:00,00:02:00,-8.0,12.0,00:14:00,4.666667,4.650000,4.383333,2330,07:37:00,4.0,07:50:00,07:41:00,-9.0,2015-01-01
2,US,840,N171US,SFO,CLT,00:20:00,00:18:00,-2.0,16.0,00:34:00,4.766667,4.883333,4.433333,2296,08:00:00,11.0,08:06:00,08:11:00,5.0,2015-01-01
3,AA,258,N3HYAA,LAX,MIA,00:20:00,00:15:00,-5.0,15.0,00:30:00,4.750000,4.683333,4.300000,2342,07:48:00,8.0,08:05:00,07:56:00,-9.0,2015-01-01
4,AS,135,N527AS,SEA,ANC,00:25:00,00:24:00,-1.0,11.0,00:35:00,3.916667,3.583333,3.316667,1448,02:54:00,5.0,03:20:00,02:59:00,-21.0,2015-01-01
5,DL,806,N3730B,SFO,MSP,00:25:00,00:20:00,-5.0,18.0,00:38:00,3.616667,3.833333,3.433333,1589,06:04:00,6.0,06:02:00,06:10:00,8.0,2015-01-01
6,NK,612,N635NK,LAS,MSP,00:25:00,00:19:00,-6.0,11.0,00:30:00,3.016667,2.833333,2.566667,1299,05:04:00,5.0,05:26:00,05:09:00,-17.0,2015-01-01
7,US,2013,N584UW,LAX,CLT,00:30:00,00:44:00,14.0,13.0,00:57:00,4.550000,4.150000,3.800000,2125,07:45:00,8.0,08:03:00,07:53:00,-10.0,2015-01-01
8,AA,1112,N3LAAA,SFO,DFW,00:30:00,00:19:00,-11.0,17.0,00:36:00,3.250000,3.216667,2.883333,1464,05:29:00,3.0,05:45:00,05:32:00,-13.0,2015-01-01
9,DL,1173,N826DN,LAS,ATL,00:30:00,00:33:00,3.0,12.0,00:45:00,3.683333,3.383333,3.100000,1747,06:51:00,5.0,07:11:00,06:56:00,-15.0,2015-01-01

In [46]:
df.to_csv("Flights Cleaned.csv", index=False)
HTML('<a href="Flights Cleaned.csv" download="Flights Cleaned.csv">Click here to download the CSV</a>')

### Airports

In [49]:
df1 = pd.read_csv(r"C:\Users\nopog\OneDrive\Documents\DEPI\Datasets\Flight Delays\airports.csv")

In [51]:
df1.head(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603

In [53]:
df1.tail(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
312,TYS,McGhee Tyson Airport,Knoxville,TN,USA,35.81249,-83.99286
313,UST,Northeast Florida Regional AirportÂ (St. August...,St. Augustine,FL,USA,NaN,NaN
314,VEL,Valdez Airport,Vernal,UT,USA,40.44090,-109.50992
315,VLD,Valdosta Regional Airport,Valdosta,GA,USA,30.78250,-83.27672
316,VPS,Destin-Fort Walton Beach Airport/Eglin AFB,Valparaiso,FL,USA,30.48325,-86.52540
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [55]:
df1.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [57]:
df1.loc[df1['IATA_CODE'] == 'ECP', 'LATITUDE'] = 30.3571
df1.loc[df1['IATA_CODE'] == 'PBG', 'LATITUDE'] = 44.6509
df1.loc[df1['IATA_CODE'] == 'UST', 'LATITUDE'] = 29.9573
df1.loc[df1['IATA_CODE'] == 'ECP', 'LONGITUDE'] = -85.7954
df1.loc[df1['IATA_CODE'] == 'PBG', 'LONGITUDE'] = -73.4681
df1.loc[df1['IATA_CODE'] == 'UST', 'LONGITUDE'] = -81.3200

In [59]:
df1.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [61]:
state_mapping = {
    'PA': 'Pennsylvania', 'TX': 'Texas', 'NM': 'New Mexico', 'SD': 'South Dakota', 
    'GA': 'Georgia', 'MA': 'Massachusetts', 'CA': 'California', 'NJ': 'New Jersey', 
    'AK': 'Alaska', 'LA': 'Louisiana', 'NY': 'New York', 'IA': 'Iowa', 'MI': 'Michigan', 
    'CO': 'Colorado', 'WI': 'Wisconsin', 'NC': 'North Carolina', 'CT': 'Connecticut', 
    'ME': 'Maine', 'AL': 'Alabama', 'MT': 'Montana', 'ND': 'North Dakota', 'MN': 'Minnesota', 
    'WA': 'Washington', 'IL': 'Illinois', 'TN': 'Tennessee', 'ID': 'Idaho', 'PR': 'Puerto Rico', 
    'VT': 'Vermont', 'MD': 'Maryland', 'SC': 'South Carolina', 'OH': 'Ohio', 'UT': 'Utah', 
    'WY': 'Wyoming', 'MO': 'Missouri', 'WV': 'West Virginia', 'KY': 'Kentucky', 'FL': 'Florida', 
    'NV': 'Nevada', 'OR': 'Oregon', 'IN': 'Indiana', 'AR': 'Arkansas', 'KS': 'Kansas', 
    'MS': 'Mississippi', 'GU': 'Guam', 'HI': 'Hawaii', 'AZ': 'Arizona', 'VI': 'U.S. Virgin Islands', 
    'AS': 'American Samoa', 'RI': 'Rhode Island', 'NH': 'New Hampshire', 'DE': 'Delaware', 'OK': 'Oklahoma'
}

In [63]:
df1['STATE'] = df1['STATE'].replace(state_mapping)

In [65]:
df1.head(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,Pennsylvania,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,Texas,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,New Mexico,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,South Dakota,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,Georgia,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,Massachusetts,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,Texas,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,California,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,New Jersey,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,Alaska,USA,51.87796,-176.64603

In [67]:
df1.to_csv("Airports Cleaned.csv", index=False)
HTML('<a href="Airports Cleaned.csv" download="Airports Cleaned.csv">Click here to download the CSV</a>')

### Flights 2

In [4]:
df2 = pd.read_csv(r"C:\Users\nopog\OneDrive\Documents\DEPI\Datasets\Flight Delays\flights.csv", dtype = {7: str, 8: str})

In [5]:
df2.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2['CANCELLATION_REASON'] = df2['CANCELLATION_REASON'].fillna('Not Cancelled')

In [10]:
df2['CANCELLED'] = df2['CANCELLED'].replace({0: "Not Cancelled", 1: "Cancelled"})
df2['DIVERTED'] = df2['DIVERTED'].replace({0: "Not DIVERTED", 1: "DIVERTED"})

In [12]:
df2.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,Not DIVERTED,Not Cancelled,Not Cancelled,NaN,NaN,NaN,NaN,NaN

In [14]:
df2['AIR_SYSTEM_DELAY'] = df2['AIR_SYSTEM_DELAY'].fillna(0)
df2['SECURITY_DELAY'] = df2['SECURITY_DELAY'].fillna(0)
df2['AIRLINE_DELAY'] = df2['AIRLINE_DELAY'].fillna(0)
df2['LATE_AIRCRAFT_DELAY'] = df2['LATE_AIRCRAFT_DELAY'].fillna(0)
df2['WEATHER_DELAY'] = df2['WEATHER_DELAY'].fillna(0)

In [16]:
df2.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,Not DIVERTED,Not Cancelled,Not Cancelled,0.0,0.0,0.0,0.0,0.0

In [18]:
df2['AIR_SYSTEM_DELAY_YN'] = df2['AIR_SYSTEM_DELAY'].apply(lambda x: 'Yes' if x > 0 else 'No')
df2['SECURITY_DELAY_YN'] = df2['SECURITY_DELAY'].apply(lambda x: 'Yes' if x > 0 else 'No')
df2['AIRLINE_DELAY_YN'] = df2['AIRLINE_DELAY'].apply(lambda x: 'Yes' if x > 0 else 'No')
df2['LATE_AIRCRAFT_DELAY_YN'] = df2['LATE_AIRCRAFT_DELAY'].apply(lambda x: 'Yes' if x > 0 else 'No')
df2['WEATHER_DELAY_YN'] = df2['WEATHER_DELAY'].apply(lambda x: 'Yes' if x > 0 else 'No')

In [20]:
df2['CANCELLATION_REASON'] = df2['CANCELLATION_REASON'].replace('A', 'Airline/Carrier')
df2['CANCELLATION_REASON'] = df2['CANCELLATION_REASON'].replace('B', 'Weather')
df2['CANCELLATION_REASON'] = df2['CANCELLATION_REASON'].replace('C', 'National Air System')
df2['CANCELLATION_REASON'] = df2['CANCELLATION_REASON'].replace('D', 'Security')

In [22]:
df2.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,AIR_SYSTEM_DELAY_YN,SECURITY_DELAY_YN,AIRLINE_DELAY_YN,LATE_AIRCRAFT_DELAY_YN,WEATHER_DELAY_YN
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,0.0,0.0,0.0,0.0,0.0,No,No,No,No,No

In [24]:
df2.to_csv("Flights Cleaned 2.csv", index=False)
HTML('<a href="Flights Cleaned 2.csv" download="Flights Cleaned 2.csv">Click here to download the CSV</a>')